<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')} ">
<head>
<meta charset="UTF-8">
<title>List of Vets</title>
</head>
<body>
<h2>List of Owners</h2>
<table class="table table-striped">
	<thead>
		<tr>
			<td style="width: 150px;">ID</td>
			<td style="width: 150px;">First Name</td>
			<td style="width: 150px;">Last Name</td>
		</tr>
	</thead>
	<tbody>
		<tr th:each="owner:${owners}">
			<td th:text="${owner.id}">ID</td>
			<td th:text="${owner.firstName}">First Name</td>
			<td th:text="${owner.lastName}">Last Name</td>
		</tr>
	</tbody>
</table>
</body>
</html>